Package: com.leeksov.mdblank
Name: mdblank
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Leeksov
Author: Leeksov
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
